<!DOCTYPE html>
<html lang="com" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Human</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<!--TODO SIMPLE BODY-->
<body>
    <p th:text="${human.name}">Test</p>
    <p th:text="${human.surname}">Test</p>
    <p th:text="${human.age}">Test</p>
    <a href="/generate"><button>Generate!</button></a>
</body>
</html>